
Task_2B/task_2b_evaluator/output.exe
Task_2B/task_2b_evaluator/input.exe
Task_2C/input.exe
Task_2C/output.exe
Task_2B/testing_new
Task_2B/training_new
*.h5
*.h5
Task_2B/alien_attack_model.h5
Task_2B/alien_attack_model.h5
*.mp4
